[submodule "themes/newsroom"]
	path = themes/newsroom
	url = https://github.com/onweru/newsroom.git
[submodule "themes/hugo-theme-novela"]
	path = themes/hugo-theme-novela
	url = https://github.com/forestryio/hugo-theme-novela
